/blog/_site
/blog/.sass-cache
/blog/.jekyll-cache
/blog/.jekyll-metadata
/blog/vendor

/jekyll_blog/_site
/jekyll_blog/.sass-cache
/jekyll_blog/.jekyll-cache
/jekyll_blog/.jekyll-metadata
/jekyll_blog/vendor
