---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h1 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h1>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="the-post">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="post-container">
          <img class="post-cover" src={{post.cover}}>

          <div class="post-details">
            <h3 class="post-link-container">
              <p>
                <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
                </a>
                <span class="post-meta">{{ post.date | date: date_format }}</span>
              </p>
            </h3>
            <div class="post-excerpt"> {{ post.excerpt }} </div>
          </div>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
