body {
  font-family: 'Montserrat', sans-serif, monospace;
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none !important;
}

.left_bar {
  background-color: #111;
  color: white;
  padding-top: 25vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  font-size: 2em;

}

.profile_image > img {
  margin: 0 auto;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  display: block;
  padding: 1px;
  border: 5px solid black;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.image_box > a > img:hover {
  transform: scale(1.1);
}

.name, .designation {
  text-align: center;
}

.name {
  font-size: 32px;
  font-weight: 700;
  margin-top: 20px;
  color: #264348;
}

.designation {
  margin-top: 20px;
  font-size: 24px;
}

.designation > span {
  padding: 3px 8px;
  background-color: #2C3E50;
  color: white;
  border-radius: 20px;
}

.image_box {
  text-align: center;
}

.image_box > a > img {
  width: 48px;
  height: 48px;
}

.hz_image_box > a > img {
  margin-right: 15px;
}

.vt_image_box > a > img {
  margin-bottom: 15px;
  padding: 1px;
  background-color: white;
  border-radius: 50%;
}

.links {
  margin-top: 25px;
  display: none;
}

#section2 > .content-wrapper > .container > .row {
  border-radius: 10px;
}

.about {
  font-size: 20px;
  padding: 25px;
  background-color: #222;
  color: white;
}

.about > table {
  margin-left: 20px;
}

.about > table > tbody > tr {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

td.icon > i {
  font-size: 36px;
}

td.value {
  vertical-align: -webkit-baseline-middle;
  position: relative;
  top: 3px;
  left: 15px;
  font-size: 20px;
}

.skills {
  font-size: 20px;
  padding: 25px;
  background-color: white;
}

div.skill {
  display: inline-block;
  margin: 5px;
}

div.skill {
  background-color: #222;
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 16px;
}


i.circle_badge {
  position: static;
  left: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  font-size: 10px;
}

i.silver_badge {
  background-color: #C0C0C0;
}

i.gold_badge {
  background-color: #ECDC10;
}

i.bronze_badge {
  background-color: #8E5F09;
}

.badge_meanings {
  margin-top: 45px;
  background-color: #222;
  border-radius: 10px;
  padding: 5px 10px;
}

.badge_meanings_row {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (max-width: 666px) {
  .links {
    display: block;
  }

  .left_bar {
    display: none;
  }
}
