body {
  font-family: 'Montserrat', sans-serif, monospace;
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
}

a {
  color: white;
  text-decoration: none !important;
}

.section-1-row {
  box-shadow: 0px 0px 20px rgba(0,0,0, 0.5);
}

.left_bar {
  background-color: #111;
  color: white;
  padding-top: 25vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  font-size: 2em;
}

.profile_image > img {
  margin: 0 auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: block;
  padding: 1px;
  border: 5px solid black;
  -webkit-transition: all 2s ease-out;
  -moz-transition: all 2s ease-out;
  -o-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.name, .designation {
  text-align: center;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  color: white;
}

.designation {
  margin-top: 5px;
  font-size: 16px;
}

.designation > span {
  padding: 3px 8px;
  background-color: #2C3E50;
  color: white;
  border-radius: 20px;
}

.image_box {
  text-align: center;
}

.image_box > a > img {
  width: 48px;
  height: 48px;
}

.hz_image_box > a > img {
  margin-right: 15px;
  transition: all .2s ease-in-out;
}

.vt_image_box > a > img {
  margin-bottom: 15px;
  padding: 1px;
  background-color: white;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.image_box > a > img:hover {
  transform: scale(1.25);
}

.links {
  margin-top: 25px;
  display: none;
}

.timeline-navigation {
  margin: 50px;
}

.timeline > a {
  color: #2C3E50;
}

#view-timeline-btn {
  font-size: 24px;
  background-color: #2C3E50;
  color: white;
  box-shadow: 0px 0px 10px grey;
}

#section2 > .content-wrapper > .container > .row {
  border-radius: 10px;
}

.about {
  font-size: 20px;
  padding: 25px;
  background-color: #222;
  color: white;
}

.details_row {
  margin-top: 10px;
}

.details_row > div > i {
  margin: 10px;
  font-size: 12px;
  float: left;
}

.details_row > div > span {
  margin-top: 7px;
  font-size: 12px;
  float: left;
}

.skills {
  font-size: 20px;
  padding: 25px;
  background-color: white;
}

div.skill {
  display: inline-block;
  margin: 5px;
}

div.skill {
  background-color: #222;
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
}


i.circle_badge {
  position: static;
  left: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  font-size: 10px;
}

i.silver_badge {
  background-color: #C0C0C0;
}

i.gold_badge {
  background-color: #ECDC10;
}

i.bronze_badge {
  background-color: #8E5F09;
}

.badge_meanings {
  position: absolute;
  bottom: 15px;
  left: 28px;
  right: 28px;
  background-color: #222;
  padding: 5px 10px;
}

.badge_meanings_row {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.first-li {
  margin-top: 100px;
}

.text-muted {
  color: #DDD !important;
}

@media only screen and (max-width: 1339px) {
  .name, .designation, .skill > span {
    font-size: 0.8em;
  }
  #section1 > .content-wrapper > .container > .row {
    max-width: 1000px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1137px) {
  .details_row > div > span {
    font-size: 10px;
  }

  #section1 > .content-wrapper > .container > .row {
    max-width: 850px;
    margin: 0 auto;
  }

  .left_bar {
    width: 75px;
  }

  .image_box > a > img {
    transform: scale(0.75);
  }

  #view-timeline-btn {
    font-size: 20px;
  }

  .first-li {
    margin-top: 75px;
  }
}

@media only screen and (max-width: 991px) {
  .details_row > div > span {
    font-size: 14px;
  }

  .name, .designation, .skill > span {
    font-size: 1em;
  }

  .badge_meanings {
    position: static;
    margin-top: 20px;
  }

  #view-timeline-btn {
    font-size: 18px;
  }

  .first-li {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 950px) {
  #section1 > .content-wrapper > .container > .row {
    max-width: 650px;
  }
}


@media only screen and (max-width: 805px) {
  .links {
    display: block;
    background: #EEE;
  }

  .left_bar {
    display: none;
  }

  .skills {
    border-bottom: 1px solid #EEE;
  }

  #view-timeline-btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 766px) {
  #view-timeline-btn {
    display: none;
  }

  .first-li {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .designation > span {
    font-size: 0.65em;
  }

  .skill > span {
    font-size: 0.85em;
  }

  .badge_meanings_row {
    font-size: 0.5em;
  }

  .badge_meanings_row > span {
    position: relative;
    top: -1px;
    left: 2px;
  }

  .hz_image_box > a > img {
    margin: 0px;
  }

  .company-info, .project-info, .timeline-body {
    font-size: 0.7em;
  }
}
